# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment (если вдруг ты вручную создашь venv)
.venv/
venv/

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments/secrets
.env
*.env
secrets/*

# Logs
*.log

# IDEs / editors
.vscode/
.idea/
*.swp
*~

# macOS
.DS_Store

# alembic
migrations/__pycache__/
migrations/*.pyc

# MyPy
.mypy_cache/

#celery_beat
celerybeat-schedule

#Pytest
.pytest_cache/

